@import url("./assets/css/reset.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  --header-bg-color: #5659c3;
  --header-fg-color: white;
  --main-bg-color: white;
  --main-grey-border: #c9c9c9;
  --list-bg-header: #f7f7f7;
  --main-grey: #6d6e6d;
  --title-font: "Roboto", Arial, Helvetica, sans-serif;
  --font-body: "Open Sans";
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 200px;
  margin-bottom: 50px;
  background-color: var(--header-bg-color);
}
.container {
  font-family: var(--title-font);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding: 0px 10px;
  height: inherit;
}
h1 {
  font-size: 40px;
  color: var(--header-fg-color);
  margin-bottom: 20px;
}
form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 16px;
}
form input {
  border: none;
  outline: none;
  height: 40px;
  width: 600px;
  padding: 0px 0px 0px 10px;
}
form button {
  height: 40px;
  width: 160px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: var(--header-fg-color);
  color: var(--header-bg-color);
  font-weight: bold;
  padding: 0px;
}
.urlListContainer {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
}
.listHeader {
  display: flex;
  color: var(--main-grey);
  background-color: var(--list-bg-header);
  margin-bottom: 10px;
}

.originalUrl,
.shortUrl {
  flex: 35%;
  min-width: 250 px;
  padding: 15px 0px 15px 16px;
}
.visits {
  display: flex;
  flex: 3%;
  justify-content: flex-end;
  min-width: 50px;
  padding: 15px 16px;
}
.visits i {
  margin-left: 16px;
  color: var(--main-grey-border);
}
.visits i:hover {
  font-weight: bold;
  color: #dc143c;
}
.bottom-line {
  width: 100%;
  border-bottom: 1px solid var(--main-grey-border);
}
.link,
button {
  cursor: pointer;
}
.bgcolor {
  color: var(--header-bg-color);
}

@media (max-width: 807px) {
  form button {
    margin-top: 10px;
  }
}
@media (max-width: 775px) {
  .originalUrl,
  .shortUrl {
    flex: 50%;
  }
}
@media (max-width: 650px) {
  form input,
  form button {
    width: 100%;
  }
  .originalUrl,
  .shortUrl,
  .visits {
    padding: 3px 0px 6px 3px;
  }
}
@media (max-width: 600px) {
  .visits {
    flex: 90%;
    justify-content: flex-start;
  }
}
